<modal #modal>
    <h1>{{level._id}}</h1>
    <div class="clearfix">
        <div class="target">
            1x
            <div class="tile tile-1024">
                <div class="tile-inner">
                    1024
                </div>
            </div>
        </div>
        <ul class="prize">
            <li><span class="stars">&#9733;&#9733;&#9733;</span> 5 moves</li>
            <li><span class="stars">&#9733;&#9733;</span> 10 moves</li>
            <li><span class="stars">&#9733;</span> 15 moves</li>
        </ul>
    </div>
    <h2>Game #220 <span class="tries">1st try</span></h2>
    <button class="play" (click)="play()">Play Now</button>
    <a href (click)="skip($event)">Skip this level &raquo;</a>
</modal>