won-modal {
    .modal {
        background-color #8e44ad
    }

    h1 {
        margin-top 3rem
    }

    .prize {
        padding 0
        margin 3rem 0
        list-style-type none
        font-size 4rem
        position relative
        letter-spacing -3pt

        &:after {
            display block
            font-size 1rem
            content "(rating in the works)"
            letter-spacing normal
        }
    }

    .buttons {
        letter-spacing 10px
        position absolute
        bottom 1rem
        width: 100%
    }
}