<div class="heading">
    <h1 class="title">Level <span>{{level._id}}</span></h1>

    <div class="scores-container">
        <div class="nmoves-container">{{game.nMoves}}</div>
        <div class="best-container">0</div>
    </div>
</div>

<div class="above-game">
    <p class="game-intro">Join the numbers and get to the <strong>{{level.target}} tile!</strong></p>
    <a style="float:right; font-size: 0.8em; font-weight: normal; line-height: 40px;"
       (click)="nextLevel()">Skip this level &raquo;</a>
</div>

<div class="game-container">
    <div class="game-message">
        <p></p>

        <div class="lower">
            <a class="retry-button" (click)="retryLevel()">Play again</a>
            <a class="keep-playing-button" (click)="nextLevel()">NEXT &raquo;</a>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
        </div>
    </div>

    <div class="tile-container">

    </div>
</div>

<p class="game-explanation">
    <strong class="important">How to play:</strong> Use your <strong>arrow keys</strong> to move the tiles. When two
    tiles with the same number touch, they <strong>merge into one!</strong>
</p>

